.quotationTable__handler {
    margin-top: 40px;
}

.quotationTable__content {
    margin-top: 30px;
}

.quotationTable__content table thead th {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(181, 183, 192, 1);

}

.quotationTable__content table tbody td {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(41, 45, 50, 1);
    padding: 20px 15px;
}

.quotationTable__content table tbody td .table__statu__btn {
    width: Fixed (145px)px;
    height: Hug (29px)px;
    padding: 4px 12px 4px 12px;
    border-radius: 4px ;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(35, 11, 52, 1);
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    transition: ease-in-out .3s;
    font-weight: 500;
    margin-right: 10px;
}
.quotationTable__content table tbody td .table__statu__btn.ignore__btn{
    background: rgba(255, 197, 197, 1);
    border: 2px solid rgba(223, 4, 4, 1);
    color: rgba(223, 4, 4, 1);
}
.quotationTable__content table tbody td .table__statu__btn.ignore__btn:hover{
    background: rgba(223, 4, 4, 1);
    color: rgba(255, 255, 255, 1);
}
.quotationTable__content table tbody td .table__statu__btn.accept{
    color: rgba(255, 255, 255, 1);
    background: rgba(1, 186, 233, 1);
    border: 2px solid rgba(1, 186, 233, 1)
}
.quotationTable__content table tbody td .table__statu__btn.accept:hover{
    color: rgba(1, 186, 233, 1);
    background: rgba(255, 255, 255, 1);
}
.quotationTable__content table tbody td .table__statu__btn.pending{
    color: rgba(255, 255, 255, 1);
    background: rgba(13, 21, 30, 1);
    border: 2px solid rgba(0, 0, 0, 1)
}
.quotationTable__content table tbody td .table__statu__btn.pending:hover{
    color: rgba(13, 21, 30, 1);
    background: rgba(255, 255, 255, 1);
}
.quotationTable__content table tbody td .table__statu__btn.submitted{
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(35, 11, 52, 1);
    color: rgba(13, 21, 30, 1);
}
.quotationTable__content table tbody td .table__statu__btn.submitted:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(13, 21, 30, 1);

}

@media screen and (max-width: 600px){
    .quotationTable__content table thead th{
        padding: 15px;
    }
    .quotationTable__content table tbody td{
        padding: 15px;
    }
    .quotationTable__content table tbody td .table__statu__btn{
        margin-right: 10px;
    }
}