body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  /* height: 300vh; */
  background-color: #f4f4f4;

}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
}
li{
  list-style: none;
}